/*Resets*/
html, body {
    background: none repeat scroll 0 0 #E0E0E0;
    font-family: 'Roboto',sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul, menu, dir {
    display:block;
    list-style-type:none;
    padding-left: 0;
    margin: 0;
}
a {
    margin:0;
    padding:0;
}
a:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
a img {
    border: none;
}
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
/*Header*/
.logo {
    float: left;
    height: auto;
    width: 150px;
}
#headerContainer.stickyNav .logo {
    
}
#headerContainer {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: fixed;
    width: 100%;
    z-index: 200;
}
#headerContainer.stickyNav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#headerContent {
    margin: 0 auto;
    position: relative;
    width: 98%;
}
/*Nav*/
#headerContent ul {
    float: right;
}
#headerContent ul li {
    float: left;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: -0.5px;
    line-height: 66px;
    list-style-type: none;
    text-transform: uppercase;
}
#headerContent ul li a {
    color: #444444;
    display: inline;
    float: left;
    height: 66px;
    padding: 0 8px;
    text-decoration: none;
}
#headerContainer.fadeNav ul li a {
    color: #FFFFFF;
}
#headerContent ul li a:hover {
	color: #FFFFFF;
	background: none repeat scroll 0 0 #900;
}
#menu-icon {
	 display: hidden;
     background: none repeat scroll 0 0 #F00;
     height: 44px;
     width: 44px;
}
a:hover#menu-icon {
	 background: none repeat scroll 0 0 #900;
	 color: #FFFFFF;
}
/*Body*/
#bodyContainer {
	float:left;
	width:100%; 
	height: 2000px;
}


@media all and (max-width : 694px) {
/*Nav*/
#menu-icon {
	float: right;
}
#menu-icon:before {
	content: "";
	color: #FFFFFF;
	font-size: 2.2em;
    line-height: 44px;
    text-align: center;
}
nav ul, nav:active ul { 
    color: #FFFFFF;
	display: none;
	position: absolute;
	background: none repeat scroll 0 0 #F00;
	right: 0;
	top: 44px;
	width: 100%;
}
nav li {
   text-align: center;
	width: 100%;
}
#headerContent nav ul li a {
	color: #FFFFFF;
    height: 56px;
    line-height: 56px;
    width: 100%;
}
nav:hover ul {
    display: block;
}
}
